h1
{
  color: #fc9779;
  font-size: 64px;
  text-transform: bold;
  line-height: 0;
}

h2
{
  color: #fc9779;
  font-size: 30px;
  text-transform: uppercase;
}

h3
{
  color: black;
  font-size: 30px;
  text-transform: uppercase;
}

body
{
  color: black;
  background: #f8f8f6;
  font-size: 20px;
  font-family: 'Barlow Condensed', sans-serif;
}

.header
{
  text-align: center;
}

.container
{
  text-align: left;
}

.footer
{
  text-align: center;
}

#subtitle
{
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.15em;
}