body #overlay.open
{
  opacity: 1;
  pointer-events: auto;
}

#sidebar
{
  background: #F7F5EE;
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: left 0.1s ease;
  z-index: 1000;
}

#sidebar.dark
{
  background: #353433;
}

#sidebar #bouton-du-sidebar
{
    display: block;
    margin: 0 auto 10px auto;
}

#sidebar #bouton-child-du-sidebar
{
  max-height: 0;
  opacity: 0;
  display: block;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
  margin: 0 auto 0px auto;
  transition: 0.2s ease;
}

#sidebar.open
{
    left: 0px;
}