#sidebar-logo
{
  display: block;
  margin: 110px auto 20px;
}

#sidebar
{
  position: fixed;
  left: -300px;
  top: 0px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background: white;
  transition: left 0.1s ease;
  z-index: 1000;
}

#sidebar.open
{
    left: 0px;
}

#sidebar #bouton-sidebar
{
    display: block;
    margin: 10px auto;
}